body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  padding: 0;
  overflow: hidden ;
}
.container{
  margin: 0;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
 padding: 0;
}
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  padding: 10px;
  margin: 10px;
  gap: 20px;
}
.nav-option a{
  font-size: 1rem;
  margin-left: 1rem ;
}
.option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  max-height: 70vh;
  padding: 10px;
  overflow-y: auto;
  margin: 10px;
}
.icons{
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}
.icons i{
opacity: 0.7;
}
.icons i:hover{
  opacity: 1;
}
.lib-box{
  background-color: #2c2b2b;
  padding: 10px;
  border-radius: 1rem;
  margin-top: 20px;
}
.box{
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 30px;
  column-gap: 10px;
}
.box img{
width: 100%;
height: 100%;
border-radius: 0.5rem;
grid-row: 1/3;
}
i{
  margin-right: 20px;
}
a{
  color: white;
  text-decoration: none;
  opacity: 0.7;
}
a:hover{
  color: aliceblue;
  opacity: 1;
}

button{
  border-radius: 1rem;
  border: 1px solid lch(5.15% 0.41 19.19 / 0.455);
  font-weight: bold;
  padding: 5px;
}
button:hover{
  background-color: rgb(152, 154, 155);
}
.slidebar{
  width: 25%;
}
.main{
  background-color: #121212;
 flex: 1rem;
 max-height: 100vh;
 border-radius: 1rem;
 padding: 10px;
 margin: 10px;
 margin-left: 0px;
 overflow-y: auto;
}
.nav-main{
  display: flex;
  justify-content: end;
}
.Header{
  margin-top: 20px;
  margin-bottom: 20px;
}
.box1 img{
    width: 90px;
    height: 90px;
    border-radius: 1rem;
}
.box1{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsl(0, 0%, 11%);
  padding: 5px;
  border-radius: 1rem;
}
.box1 p{
  margin: 0;
  padding: 0;
  flex: 1;
}
.box1:hover{
  background-color: hsl(60, 1%, 32%);
}
.upper-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
h2{
  margin-top: 20px;
  font-size: 2.5em;
}
.Card{
  padding: 10px;
background-color: hsl(0, 0%, 11%);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
 
  flex-direction: column;
  cursor: pointer;
}
.Card img{
  height: 160px;
  border-radius: 1rem;
}
.card-title{
  margin-top: 10px;
  font-size: larger
}
.card-content{
  font-size: small;
  opacity: 0.7;
}
.card-container {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  grid-auto-rows: 350px;
  }
.card-container:has(> .Card:nth-child(3)){
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  width: auto;
}
.Card:hover{
  background-color: hsl(60, 1%, 32%);
}
.flex-container{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
li{
  list-style-type: none;
}
.Fotter-Privacy{
  display: flex;  
  justify-content: space-between;
}
.Fotter-Privacy li{
  display: inline;
}
.Fotter-Privacy li:not(:first-child) {
  margin-left: 20px;
}
.Line{
  width: 100%;
  height: 1px;
  background-color: rgb(52, 50, 50);
  margin-bottom: 20px;
}
.flex-item p{
  opacity: 0.7;
}
.Footer{
  margin-bottom: 100px;
}
.music-player{
  background-color: black;
  position: fixed;
  bottom: 0px;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}
.album img{
  height: 50px;
  width: 50px;

}
.album{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
 margin-left: 20px;
}
.heart{
  max-width: 20px;
  max-height:  20px;
  margin-left: 1rem;
  cursor: pointer;
}
.album h6{
margin: 0;
text-align: center;
}
.album p {
  opacity: 0.7;
  text-align: center;
}
.album p{
  margin:0
}
.music-player{
  display: flex;
}
.Player i{
  cursor: pointer;
}
.player-bar{
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}
.Player{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  justify-content: center;
}
.controller{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.player-bar input{
  width: 50%;
  cursor: pointer;
}
.run{
  font-size: 1.5em;
}
.run:hover{
  transform: scale(1.2);
}
.progress-bar1{
cursor: pointer;
}
td,th{
  padding: 10px;
  text-align: center;
  opacity: 0.8;
}
th{
  border-bottom: 2px solid rgb(110, 108, 108);
}
.play{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}
.PlayAll{
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 1rem;
  max-height: 100vh;
  background: linear-gradient(#6a6ae4, #434043)
}
.nav-play{
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 50px;
}
.nav-play img{
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}
.nav-title h1{
  font-weight: bold;
}
.nav-header{
  display: flex;
  justify-content: space-between;
    
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.nav-header button{
  margin-right: 20px;
  color: black;
}
.nav-header-icon i{
  background-color: hsl(0, 0%, 3%);
  padding: 5px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-header-icon i:hover{
  background-color: hsl(0, 0%, 13%);
}
.nav-header-user i{
  cursor: pointer;
}
.PlayVideoMusic{
  display: flex;
  flex-direction: column;
  flex:1;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #121212;
}
.PlayVideoMusic-Video{
  width: 100%;
  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.PlayVideoMusic-All{
  height: 100vh;
  background-color: #121212;
overflow-y: auto;
border-radius: 1rem;
margin-top: 10px;
flex: 1;
padding-bottom: 100px;
}
.PlayVideoMusic-Video video{
  aspect-ratio: 16 / 7.5;
  object-fit: cover;
  border-radius: 12px;
}
.PlayVideoMusic-Info-Name{
  display: flex;
  padding: 0;
  gap: 20px;
}
.PlayVideoMusic-Info-Love{
  display: flex;
  padding: 0;
  gap: 20px;
}
.card-container-extend{
  margin: 0;
}
.PlayVideoMusic-H1{
  color: #a1e85adc;
}
.social-icons{
  padding-left: 30px;
}
.Avartar{
  display: flex;
  flex-direction: column;
  align-items: center;
padding-top: 10px;
}

.Avartar img{
  border-radius: 1rem;
}
.SliderAdmin{
   background-color: rgb(83, 85, 84);
   margin: 0;
   height: 100vh;
}
.Manage p {
  cursor: pointer;
  color: hsl(208, 100%, 95%)
}
.Manage p:hover{
  color: hsl(0, 0%, 100%);
}
.Admin{
  display: grid;
  grid-template-columns: 300px 1fr;
}
.ManageUsers{
  padding-top: 50px;
  gap: 20px;  
  padding-left: 10px ;
  padding-right: 10px;
  background: linear-gradient(#a9a9f6, #bda5bd);
}
.ManageUsers h1{
  text-align: center;
}
.ManageUsers tbody tr td:nth-child(5){
  background-color: red;
  cursor: pointer;
}
.ManageUsers tbody tr td:nth-child(6){
  background-color: rgb(43, 255, 0);
  cursor: pointer;
}
.ManageUsers tbody tr td:nth-child(7){
  background-color: rgb(234, 255, 0);
  cursor: pointer;
}

.scroll-table{
  overflow-y: auto;
  max-height: 59%;
}
.ManageUsers thead tr{
  position: sticky;
  top: 0;
  background-color: rgb(255, 0, 0);
  z-index: 2;
}
.ManageUsers thead th:nth-child(1){
width: 30%;
}
.ManageUsers thead th:nth-child(2){
  width: 20%;
  }
  .ManageUsers thead th:nth-child(3){
    width: 10%;
    }
    .ManageUsers thead th:nth-child(4){
      width: 20%;
      }
      .ManageUsers thead th:nth-child(5){
        width: 20%;
        }
.Track-Category{
display: flex;
width: 50%;
gap: 10px;
}
.Track .scroll-table{
max-height: 500px;
}
.Track thead th:nth-child(1){
  width: 20%;
  }
.Track thead th:nth-child(2){
  width: 20%;
  }
  .Track thead th:nth-child(3){
    width: 20%;
    }
.Track thead th:nth-child(4){
  width: 20%;
}
.Track thead th:nth-child(5){
  width: 20%;
}
.Track tbody tr td:nth-child(4){
  background-color: rgb(255, 255, 255);
  cursor: auto;
}
.Track tbody tr td:nth-child(5){
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
.Track tbody tr td:nth-child(6){
  background-color: rgb(9, 255, 0);
  cursor: pointer;
}
.Track .btn{
  white-space: nowrap;
}
.modal-title{
  color: #58da34;
}
label{
  color: #121212;
}
.form-checking{
  display: flex;
  gap: 10px;
}
.formADD{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Track .scroll-table{
  padding-top: 5px;
}
.Artists .scroll-table{
  padding-top: 5px;
}
.ManageUsers button{
  margin-left: 5px;
}
.scroll-table{
  margin-top: 5px;
}
.Artists tbody tr td:nth-child(4){
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
.Artists tbody tr td:nth-child(5){
  background-color: rgb(43, 255, 0);
  cursor: pointer;
}
.Artists form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Album tbody tr td:nth-child(4){
  background-color: rgb(255, 255, 255);
  cursor: auto;
  width: 20%;
}
.Album thead th:nth-child(1){
  width: 40%;
}
.Album thead th:nth-child(2){
  width: 30%;
}
.Album thead th:nth-child(3){
  width: 10%;
}
.Album thead th:nth-child(4){
  width: 10%;
}
.ViewDetail tbody tr td:nth-child(4){
  background-color: red;
  cursor: pointer;
}
.ViewDetail tbody tr td:nth-child(5){
  background-color: rgb(0, 255, 51);
  cursor: pointer;
}
.Album-Category{
  width: 30%;
}
.UserPlaylist{
  margin-top: 10px;
  background-color: hsl(0, 0%, 7%);
}
.UserPlaylist >div{
  padding: 10px;
  padding-left: 20px;
}
.UserPlaylist{
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  border-radius: 1rem;
}
.UserPlaylist-info >div{
  display: flex;
  gap: 10px;
  
}
.UserPlaylist-info >div >div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.UserPlaylist-info >div>div >h1{
  font-size: 3.5rem;
}
.UserPlaylist-info >div >img{
  border-radius: 1rem;
}
.UserPlaylist-title {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 50px;
  column-gap: 10px;
}

.UserPlaylist-title img {
  grid-row: 1 / 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.UserPlaylist-title p{
margin: 0;  
}
.UserPlaylist-list table{
  width: 100%;
}
.UserPlaylist-list table thead th:nth-child(1){
  width: 30%;
  text-align: left;
  padding-left: 20px;
}
.UserPlaylistFind-Find{
  position: relative;
  width: fit-content;
  padding-left: 10px;
  padding-right: 100px;
  background-color: rgb(61, 59, 59);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
.UserPlaylistFind-Find input{
  border: none;
  width: 100%;
  outline: none;
  background-color: rgb(61, 59, 59);
  padding-left: 15px;
  color: white;
}
.UserPlaylistFind-Find span:nth-of-type(1){
  position: absolute;
  top: 0;
  transform: translateY(50%);
  left: 0;
}
.UserPlaylistFind-Find span:nth-of-type(2){
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
  padding-right: 5px;
}
.UserPlaylistFind-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}
.UserPlaylistFind-content button{
  background-color: hsl(0, 0%, 15%);
  color: white;
  border-radius:1rem ;
  border: solid 1px rgb(255, 255, 255);
  height: 50%;
  width: 30%;
  justify-self: center;
}
.UserPlaylistFind-content> p{
  justify-self: center;
  opacity: 0.7;
}
.UserPlaylistFind-content .UserPlaylist-title p{
  text-align: center;
  padding-right: 20px;
  opacity: 0.7;
}
.UserPlaylist .footer{
  padding: 0;
}
.UserPlaylist{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.UserPlaylist .Line{
  padding: 1px;
  background-color: #616061;
}
.main .UserPlaylistFind-Find{
width: 50%;
}
.lib-box{
  cursor: pointer;
}
.register label{
  color: white;
}
.register input{
  background-color: #2c2b2b;
  color: white;
  width: 100%;
}
.register input:focus{
  background-color: hsl(0, 1%, 17%);
  color: white;
}
.register > div{
  padding: 10px;
  border-radius: 1rem;
  width: 60%;
  height: 90%;
  background-color: hsl(0, 1%, 10%);;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}
.register form{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
.register>div>form>div{
  width: 100%;
}
.register{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(0, 1%, 8%),hsl(0, 1%, 5%));
}
.alert{
  position: absolute;
  height: 80px;
  width: fit-content;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.874);
  top: 0;
  right: 0;
  margin-top: 10px;
  z-index: 99;
  background-color: rgb(174, 33, 33);
  transform: translateX(-20%);
}
.register .message{
  background-color: rgb(52, 174, 33);
}
.UserPlaylist .nav-header{
  margin-top: 0;
  padding-top: 5px;
  margin-bottom: 0;
}
.nav-header-user{
  position: relative;
}
.dropdown{
position: absolute;
right: 0;
padding-top: 1px;
margin-top: 5px;
padding-left: 0;
padding: 15px;
display: flex;
background-color: #5f706d;
border-radius: 0.5rem;
flex-direction: column;
gap: 8px;
}
.nav-header .modal-body{
  color: #121212;
}
.nav-header form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-header img{
  border-radius: 0.5rem;
}
.curr-time{
  font-family: monospace;
}
.tot-time{
  font-family: monospace;
}
.HasChecked{
  color: hsl(125, 59%, 65%);
}
.UserPlaylist-head{
  background: linear-gradient(hsl(0, 1%, 23%),hsl(0, 1%, 10%));
}
.modal-body-name{
  position: relative;
  margin-top: 20px;
}
.modal-body-name label{
  display: none;
}
.modal-body-name input:focus + label{
  position: absolute;
  color: white;
  top: -12px;
  display: block;
  left: 12px;
  background: linear-gradient(to bottom, #1b1a1a 50%, #232222 50% );
  z-index: 1;
}
.UserPlaylist .modal-content{
  background-color: #1b1a1a;
}
.modal-body-name input,
.modal-body-name input:focus{
  background-color: #232222;
  color: white;
}
.modal-body-name input::placeholder{
  color: hsl(0, 1%, 32%);
}